body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  body {
    overflow-x: hidden;
  }
  
  .in {
    display: flex;
    justify-content: space-between;
    /* overflow: hidden; */
  }
  
  .asimg {
    width: 79vw;
    /* height: 47vh; */
    border: 0.5vw solid white;
    border-top: none;
    border-bottom: none;
    /* border-top: 0.5vw solid white;
    border-bottom: 0.5vw solid white; */
    border-radius: 15px;
    /* box-shadow: 0px -2px 19px 8px #8080804a; */
  
  }
  
  .widm,
  .widl,
  .tfgf {
    width: 10%;
    /* overflow: hidden; */
  
  }
  
  .tfgf {
    width: 80%;
    z-index: 2;
    /* overflow: hidden; */
  }
  
  .jk1 {
    position: relative;
    left: -80%
  }
  
  .jk0 {
    position: relative;
    left: -150%
  }
  
  
  .jk3 {
    position: relative;
    left: -10%
  }
  
  .jk4 {
    position: relative;
    left: 70%
  }
  
  .spc {
    display: flex;
    justify-content: space-between;
    width: 100vw;
  }
  
  
  
  .ingh {
    position: absolute;
    z-index: 2;
    /* top: 50%; */
  }
  
  .dbgh1,
  .dbgh2 {
    left: 8vw;
    position: relative;
    color: white;
    top: 23vh;
    font-size: xx-large;
    padding: 10px;
    /* border: 1px solid gray; */
    background: #ffffff36;
    border-radius: 31px;
    padding-bottom: 20px;
    transition: 0.3s;
    cursor: pointer;
  
  }
  
  .dbgh2 {
    left: 80vw;
  }
  
  
  .dbgh1:hover,
  .dbgh2:hover {
    background: #ffffff54;
    transition: 0.3s;
  }
  
  
  .butgy1,
  .butgy2 {
    /* height: 47vh; */
    background-image: linear-gradient(to right, #0a0a0aef, #42423c00);
    width: 8.5vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 4em;
    color: white;
    font-family: monospace;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .butgy2 {
    background-image: linear-gradient(to right, #42423c00, #0a0a0aef);
    justify-content: start;
  }
  
  .butgy1 .nhui {
    visibility: hidden;
    transition: 0.5s;
  }
  
  .butgy1:hover .nhui {
    visibility: visible;
    transition: 0.5s;
  }
  
  .butgy2 .nhui {
    visibility: hidden;
    transition: 0.5s;
  }
  
  .butgy2:hover .nhui {
    visibility: visible;
    transition: 0.5s;
  }
  
  
  /* .mnj {
    position: relative;
    color: white;
    left: 45vw;
    top: 39vh;
    background: #efefef52;
    height: 3.5vh;
    width: 12vw;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  } */
  
  
  
  .ticktokRight1 {
    animation: ticktokRight1 1s;
    position: relative;
    z-index: 1;
  }
  
  @keyframes ticktokRight1 {
    from {
      left: -80%;
    }
  
    to {
      left: -160%;
    }
  }
  
  
  .ticktokRight {
    animation: ticktokRight 1s;
    position: relative;
    z-index: 1;
  }
  
  @keyframes ticktokRight {
    from {
      left: -10%;
    }
  
    to {
      left: -90%;
    }
  }
  
  
  .ticktokRight2 {
    animation: ticktokRight2 1s;
    position: relative;
    z-index: 1;
  }
  
  @keyframes ticktokRight2 {
    from {
      left: 60%;
    }
  
    to {
      left: -20%;
    }
  }
  
  .ticktokMux {
    animation: ticktokMux 1s;
    position: relative;
    z-index: 1;
  }
  
  @keyframes ticktokMux {
    from {
      left: -70%
    }
  
    to {
      left: -90%;
    }
  }
  
  /* Illusion For Reverse */
  
  .ticktokRight1Bk {
    animation: ticktokRight1Bk 1s;
    position: relative;
    z-index: 1;
  }
  
  @keyframes ticktokRight1Bk {
    from {
      left: -80%;
    }
  
    to {
      left: 0%;
    }
  }
  
  
  .ticktokRightBk {
    animation: ticktokRightBk 1s;
    position: relative;
    z-index: 1;
  }
  
  @keyframes ticktokRightBk {
    from {
      left: -10%;
    }
  
    to {
      left: 70%;
    }
  }
  
  
  .ticktokRight2 {
    animation: ticktokRight2 1s;
    position: relative;
    z-index: 1;
  }
  
  @keyframes ticktokRight2 {
    from {
      left: 60%;
    }
  
    to {
      left: -20%;
    }
  }
  
  .ticktokMuxBk {
    animation: ticktokMuxBk 1s;
    position: relative;
    z-index: 1;
  }
  
  @keyframes ticktokMuxBk {
    from {
      left: -150%
    }
  
    to {
      left: -70%;
    }
  }
  